<p>home-component works!</p>
<!--{{getDateTime()}}
<ul>
    <li *ngFor="let item of items; let i = index">{{ i }} - {{ item }}</li>
   </ul>
   <button (click)="onButtonClick()">Cliquez-moi</button>
   <input (input)="OninputChange($event)">
   <p>Vous avez saisie : {{ inputvalue }}</p>
   <input (keyup.enter)="OnEnterPressed()">
   <input type="text" [(ngModel)]="fname">
   <p>{{ fname }}</p>
   <li *ngFor="let product of products; index as i; first as isFirst">
    {{i}}/{{products.length}}. {{product}} <span *ngIf="isFirst">default</span>
  </li>
  <button [ngClass]="isError ? 'text-error' : 'text-success' ">
    Ce texte changera de style en fonction de la valeur de isError
  </button>
  <p appHighlight color="lightgreen"> Appliquer la directive HilightDirective sur cet élément</p>-->
<app-list-categories-component></app-list-categories-component>